* {
  margin: 0;
  font-family: 'Markazi Text';
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 1em;
}

#navbar ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

li {
  margin: 0 1rem 0 1rem;
}

main {
  display: flex;
  flex-flow: row wrap;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  background-color: #fff4ea;
  justify-content: space-between;
}

footer > p {
  padding: 4em;
  display: flex;
  flex-flow: row wrap;
}

.footerLinks {
  display: flex;
  flex-flow: row wrap;
}

footer a {
  padding: 1em;
  align-items: center;
}